Source: open62541
Section: libs
Priority: optional
Maintainer: open62541 Team <open62541-core@googlegroups.com>
Standards-Version: 4.1.2
Homepage: https://open62541.org/
Vcs-Git: https://github.com/open62541/open62541.git
Vcs-Browser: https://github.com/open62541/open62541
Build-Depends: debhelper (>= 9),
 cmake (>= 2.8.8),
 python (>= 2.7),
 python-six,
 python-sphinx

Package: libopen62541-0
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Open source implementation of OPC UA - shared library
 open62541 is an open source C (C99) implementation of the OPC UA
 (OPC Unified Architecture) standard aka IEC 62541.
 .
 This package contains the libopen62541 shared library.

Package: libopen62541-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: libopen62541-0 (= ${binary:Version}), ${misc:Depends}
Description: Open source implementation of OPC UA - development files
 open62541 is an open source C (C99) implementation of the OPC UA
 (OPC Unified Architecture) standard aka IEC 62541.
 .
 This package contains the libopen62541 development libraries
 and header files.

Package: open62541-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${sphinxdoc:Depends}
Description: Open source implementation of OPC UA - documentation
 open62541 is an open source C (C99) implementation of the OPC UA
 (OPC Unified Architecture) standard aka IEC 62541.
 .
 This package contains the documentation for the open62541 library
 and development tools.
