#!/usr/bin/make -f

export DH_VERBOSE = 1

export DEB_BUILD_OPTIONS = parallel=4
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

override_dh_auto_configure:
	dh_auto_configure -- -DBUILD_SHARED_LIBS=ON -DCMAKE_BUILD_TYPE=RelWithDebInfo -DUA_NAMESPACE_ZERO=FULL \
                             -DUA_ENABLE_AMALGAMATION=OFF -DUA_PACK_DEBIAN=ON \
                             -DCMAKE_LIBRARY_ARCHITECTURE="$(DEB_HOST_MULTIARCH)"

override_dh_auto_test:
	dh_auto_test -- ARGS+=--output-on-failure

override_dh_auto_build:
	dh_auto_build
	make -C obj-${DEB_HOST_MULTIARCH} doc doc_pdf

override_dh_install:
	install -d debian/tmp/usr/share/doc/open62541
	cp -dR obj-${DEB_HOST_MULTIARCH}/doc debian/tmp/usr/share/doc/open62541/open62541.html
	cp -dR obj-${DEB_HOST_MULTIARCH}/doc_latex/open62541.pdf debian/tmp/usr/share/doc/open62541/
	rm -fr debian/tmp/usr/share/doc/open62541/open62541.html/CMakeFiles
	rm -f debian/tmp/usr/share/doc/open62541/open62541.html/Makefile
	
	dh_install
	
	dh_sphinxdoc usr/share/doc/open62541/open62541.html

%:
	dh $@ --buildsystem=cmake --parallel
